.gusContainer {
    background-color: ivory;
    font-family: sans-serif;
}

h1 {
    color: darkred;
}

table {
    border: #222222 solid 2px;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    border: #222222 solid 2px;
}

td {
    border: #222222 solid 1px;
}

