h1{
    color: CadetBlue;
    font-weight: bold;
}

li{
    font-family: "Andale Mono", serif;
}
.nateContainer{
    background-color: Ivory;
}
form {
    border: 2px solid black;
    padding: 20px;
    width: max-content;
    text-align: center;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

.firstParagraph {
    font-size: 36px;
}

